<div class="jumbotron jumbotron-fluid top-nav">
    <div class="container">
      <h2 class="display-3">Wallpapers for your iPhone</h2>
      <p class="lead">Hand-lettered by Chung Nguyen (@WordsWithChung).</p>
      <p><em>Tools</em>: iPad Pro + Pencil. <em>App</em>: <a href="https://procreate.art/" target="_blank">Procreate</a>. 
        <em>Photos</em>: <a href="https://unsplash.com/" target="_blank">Unsplash</a>. </p>
      
      <a href="{{ instagram[1] }}" target="_blank"><img src="{{ instagram[0] }}" width="40px"></a>
      <a href="{{ medium[1] }}" target="_blank"><img src="{{ medium[0] }}" width="40px"></a>
      <a href="{{ linkedin[1] }}" target="_blank"><img src="{{ linkedin[0] }}" width="40px"></a>
      <a href="{{ twitter[1] }}" target="_blank"><img src="{{ twitter[0] }}" width="40px"></a>
    </div>
  </div>